
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: center;
}
body
{
background-color:yellow;
text-align: center;
}
#No_1
{
	
	border-radius: 15px;
	
	
}
#No_2
{
	
	border-radius: 15px;
	
	
}
